body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    text-align: center;
}

h1 {
    color: rgb(105, 255, 180);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

img {
    max-width: 100%;
    border-radius: 50px;
    margin-top: 20px;
}

p {
    margin-top: 20px;
}
